<h1>Normalization Station</h1>

<h3>Upload results</h3>
<p>Uploaded File Name: <%= @uploaded_file_name %></p>
<p>Gross Revenue uploaded: <%= @gross_revenue %></p>

<%= link_to('Upload another file?', root_path) %>

